.selectTime {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectedView {
  background-color: rgb(75 85 99);
  color: rgb(255 251 235);
}